JsonData/cameraInput.json
JsonData/zoomControls.json
Smarl_Overlays/Music/
/Smarl_Overlays/__pycache__/
Smarl_Overlays/config.json
/Smarl_Overlays/sdlaudio.raw
TwitchPlays/__pycache__/
TwitchPlays/bot_secrets.py
TwitchPlays/tokens.db
Cache/
.DS_Store
.vscode/

